<?php

/*+********************************************************************************
 * The content of this file is subject to the VTE Reports license.
 * ("License"); You may not use this file except in compliance with the License
 * The Initial Developer of the Original Code is
 * Portions created by  Vtiger Experts are Copyright(C)
 * All Rights Reserved.
 ********************************************************************************/

require_once 'modules/VTEReports/ScheduledVTEReports.php';
VTEScheduledReport::runScheduledReports($adb);
?>
